.message {
  background-color: rgb(145, 252, 145);
  margin: 10px;
  padding: 10px;
  border-radius: 15px;
  width: 80%;
  display: flex;
  flex-flow: column;
  & > .image-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  &.sent {
    float: right;
    // & > .image-icon {
    //   float: right;
    // }
  }
  &.received {
    float: left;
  }
}
