$NavColor: rgb(73, 184, 221);
$borderColor: rgb(9, 146, 192);
.nav-bar {
  display: inline-flex;
  background-color: $NavColor;
  justify-content: space-around;
  height: 7vh;
  width: 100vw;
}
.nav-link {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
  &.active {
    color: rgb(186, 253, 250);
  }
  &:hover {
    color: rgb(186, 253, 250);
  }
}
