$NavColor: rgb(73, 184, 221);
$borderColor: rgb(9, 146, 192);
.sign-up,
.sign-in {
  margin: auto;
  text-align: center;

  & > .show-password {
    width: 40px;
    height: 40px;
    font-size: 20px;
    font-weight: normal;
  }

  & > .google {
    margin: 30px;
    background-color: $borderColor;
    border: solid 2px $borderColor;
    padding: 5px;
    font-size: 35px;
    font-weight: bolder;
    border-radius: 5px;
    color: white;
    text-transform: capitalize;
    & > img {
      position: relative;
      top: 5px;
      width: 40px;
      height: 40px;
      background-color: whitesmoke;
      border-radius: 10px;
      padding: 5px;
      margin-right: 20px;
    }
  }
  & > .change {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
    & > a {
      text-decoration: none;
    }
  }
}
