.chat-room {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 30vw;
  padding: 0 2vw 0 2vw;
  text-overflow: ellipsis;
}

.chat-room > .profile-link {
  text-decoration: none;
}

.chat-room > .profile-link > h3 {
  color: black;
  font-size: 30px;
  margin-bottom: 10px;
}

.chat-room > .profile-link > h3:hover {
  color: #4d4d4d;
}

.chat-room > .rooms {
  margin-top: 5%;
  height: 60%;
  overflow-y: auto;
}

.chat-room > .rooms > .room-title {
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.chat-room > .rooms > .room-title > h2 {
  padding: 15px;
  margin: 0;
}

.chat-room > .rooms > .room-title:hover {
  color: #323232;
}

.confirm-page {
  background-color: #8bdae7;
  text-align: center;
  position: fixed;
  left: 35vw;
  width: 65vw;
  height: 100vh;
}

.message-div {
  width: 100%;
}

.message-div > .message {
  margin: 10px;
  padding: 10px;
  max-width: 70%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.message-div > .message > tr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.message-div > .message > tr > td.img-td {
  width: 80px;
}

.message-div > .message > tr > td.img-td > .image-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.message-div > .message > tr > td.text-td {
  padding: 10px;
  background-color: #91fc91;
  border-radius: 15px;
}

.message-div > .message > tr > td.text-td > .content {
  font-size: 17px;
}

.message-div > .message.sent {
  float: right;
}

.message-div > .message.sent > tr > td.img-td > .image-icon {
  margin-left: 10px;
}

.message-div > .message.received {
  float: left;
}

.message-div > .message.received > tr > .img-td > .image-icon {
  margin-left: 10px;
}

.profile {
  background-color: #8bdae7;
  text-align: center;
  position: fixed;
  left: 35vw;
  width: 65vw;
  height: 100vh;
}

.profile > .profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.profile > .username {
  font-size: 30px;
  font-weight: bold;
}

.profile > button {
  margin-left: 20px;
}

.profile > input {
  margin: 35px 0 35px 0;
}

.sign-up,
.sign-in {
  margin: auto;
  text-align: center;
}

.sign-up > .show-password,
.sign-in > .show-password {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: normal;
}

.sign-up > .google,
.sign-in > .google {
  margin: 30px;
  background-color: #0992c0;
  border: solid 2px #0992c0;
  padding: 5px;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
}

.sign-up > .google > img,
.sign-in > .google > img {
  position: relative;
  top: 5px;
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 5px;
  margin-right: 20px;
}

.sign-up > .change,
.sign-in > .change {
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}

.sign-up > .change > a,
.sign-in > .change > a {
  text-decoration: none;
}

.chat {
  background-color: #8bdae7;
  min-width: 425px;
  width: 65vw;
  height: 100vh;
  position: fixed;
  left: 35vw;
}

.chat > .link-handler {
  padding: 2% 1% 2% 1%;
  height: 5%;
}

.chat > .link-handler > label {
  overflow-wrap: none;
  text-transform: capitalize;
  font-size: 1.3vw;
  font-weight: bold;
}

.chat > .link-handler > button {
  font-size: 1.3vw;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.chat > .link-handler > input {
  font-size: 1.3vw;
  width: 15vw;
  height: -webkit-min-content;
  height: -moz-min-content;
  height: min-content;
}

.chat > .messages {
  background-color: #cef7f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 83%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  overflow-y: scroll;
}

.chat > .texting {
  text-align: center;
  height: 5%;
  display: inline-block;
  width: 100%;
}

.chat > .texting > input {
  width: 50vw;
  font-size: 2.4vh;
}

.chat > .texting > button {
  margin: auto;
  width: 5vw;
  font-size: 2.4vh;
}

body {
  background-color: #c2eff5;
}

button {
  font-size: 25px;
  font-weight: bolder;
  background-color: #cef7f3;
  color: black;
  border: solid #0992c0 2px;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  border: solid 2px black;
}

.headline {
  color: #49b8dd;
  font-size: 4.5em;
  margin: 20px;
}

input {
  width: 250px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: solid 2px #0992c0;
  border-radius: 10px;
  background-color: #cef7f3;
}

input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: black;
  opacity: 80%;
}

input:-ms-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: black;
  opacity: 80%;
}

input::-ms-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: black;
  opacity: 80%;
}

input::placeholder {
  font-size: 20px;
  font-weight: bold;
  color: black;
  opacity: 80%;
}

.home-page {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: #0992c0;
}

::-webkit-scrollbar-thumb:hover {
  background: #087599;
}

.error-message {
  font-size: 50px;
  color: #5f0707;
}
/*# sourceMappingURL=app.css.map */