.chat-room {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}

.chat-room > .chat {
  padding: 30px;
  width: 60vw;
  height: 85vh;
  background-color: #0077ff;
}

.chat-room > .chat > .link-handler {
  display: inline;
}

.chat-room > .chat > .messages {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  border: solid;
  height: 85%;
  overflow-y: scroll;
}

.chat-room > .chat > .texting {
  border: solid;
  bottom: 0px;
}

.chat-room > .chat-rooms {
  padding: 30px;
  width: 30vw;
}

.message-div {
  width: 100%;
}

.message-div > .message {
  margin: 10px;
  padding: 10px;
  max-width: 80%;
  background-color: red;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.message-div > .message > tr {
  display: inline-table;
}

.message-div > .message > tr > td.img-td {
  width: 80px;
}

.message-div > .message > tr > td.img-td > .image-icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.message-div > .message > tr > td.text-td {
  padding: 10px;
  background-color: #91fc91;
  border-radius: 15px;
}

.message-div > .message > tr > td.text-td > .content {
  width: 100%;
  background-color: red;
  text-overflow: ellipsis;
  overflow-x: hidden;
}

.message-div > .message.sent {
  float: right;
}

.message-div > .message.sent > tr > td.img-td > .image-icon {
  margin-left: 10px;
}

.message-div > .message.received {
  float: left;
}

.message-div > .message.received > tr > .img-td > .image-icon {
  margin-left: 10px;
}

.profile > .profile-img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
}

.nav-bar {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #49b8dd;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 7vh;
  width: 100vw;
}

.nav-link {
  color: whitesmoke;
  font-size: 30px;
  font-weight: bold;
}

.nav-link.active {
  color: #bafdfa;
}

.nav-link.inactive {
  color: whitesmoke;
}

.nav-link:hover {
  color: #bafdfa;
}

.sign-up,
.sign-in {
  margin: auto;
  text-align: center;
}

.sign-up > .show-password,
.sign-in > .show-password {
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: normal;
}

.sign-up > .google,
.sign-in > .google {
  margin: 30px;
  background-color: #0992c0;
  border: solid 2px #0992c0;
  padding: 5px;
  font-size: 35px;
  font-weight: bolder;
  border-radius: 5px;
  color: white;
  text-transform: capitalize;
}

.sign-up > .google > img,
.sign-in > .google > img {
  position: relative;
  top: 5px;
  width: 40px;
  height: 40px;
  background-color: whitesmoke;
  border-radius: 10px;
  padding: 5px;
  margin-right: 20px;
}

body {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#cef7f3), to(#d2eff8));
  background-image: linear-gradient(180deg, #cef7f3, #d2eff8);
  background-size: 100vw 100vh;
}

button {
  font-size: 25px;
  font-weight: bolder;
  background-color: #49b8dd;
  color: whitesmoke;
  border: solid #0992c0 2px;
  border-radius: 5px;
  padding: 5px;
}

button:hover {
  cursor: pointer;
  border: solid 2px white;
}

.headline {
  color: #49b8dd;
  font-size: 70px;
}

input {
  width: 250px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: solid 2px #0992c0;
  border-radius: 10px;
  background-color: #49b8dd;
}

input::-webkit-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: white;
  opacity: 80%;
}

input:-ms-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: white;
  opacity: 80%;
}

input::-ms-input-placeholder {
  font-size: 20px;
  font-weight: bold;
  color: white;
  opacity: 80%;
}

input::placeholder {
  font-size: 20px;
  font-weight: bold;
  color: white;
  opacity: 80%;
}

.home-page {
  text-align: center;
}
/*# sourceMappingURL=app.css.map */