@import "./ChatRoom";
@import "./Confirm";
@import "./Message";
@import "./Profile";
@import "./SignUp";
@import "./Chat";
$NavColor: rgb(73, 184, 221);
$borderColor: rgb(9, 146, 192);
body {
  background-color: rgb(194, 239, 245);
}
button {
  &:hover {
    cursor: pointer;
    border: solid 2px black;
  }
  font-size: 25px;
  font-weight: bolder;
  background-color: rgb(206, 247, 243);
  color: black;
  border: solid $borderColor 2px;
  border-radius: 5px;
  padding: 5px;
}
.headline {
  color: $NavColor;
  font-size: 4.5em;
  margin: 20px;
}
input {
  &::placeholder {
    font-size: 20px;
    font-weight: bold;
    color: black;
    opacity: 80%;
  }
  width: 250px;
  height: 30px;
  padding: 5px;
  margin: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  border: solid 2px $borderColor;
  border-radius: 10px;
  background-color: rgb(206, 247, 243);
}
.home-page {
  text-align: center;
}

::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: unset;
}

::-webkit-scrollbar-thumb {
  background: $borderColor;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(8, 117, 153);
}
.error-message {
  font-size: 50px;
  color: rgb(95, 7, 7);
}
